<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationnn"
        tools:targetApi="31">
        <activity
            android:name=".ap_recipe"
            android:exported="false" />
        <activity
            android:name=".chickencategory"
            android:exported="false" />
        <activity
            android:name=".chicken_category"
            android:exported="false" />
        <activity
            android:name=".beefwellington_recipe"
            android:exported="false" />
        <activity
            android:name=".beefmechado_recipe"
            android:exported="false" />
        <activity
            android:name=".beeflomein_recipe"
            android:exported="false" />
        <activity
            android:name=".beefdumpling_recipe"
            android:exported="false" />
        <activity
            android:name=".bc_recipe"
            android:exported="false" />
        <activity
            android:name=".bbpr_recipe"
            android:exported="false" />
        <activity
            android:name=".beef_category"
            android:exported="false" />
        <activity
            android:name=".faccbp_recipe"
            android:exported="false" />
        <activity
            android:name=".seeb_recipe"
            android:exported="false" />
        <activity
            android:name=".feb_recipe"
            android:exported="false" />
        <activity
            android:name=".eb_recipe"
            android:exported="false" />
        <activity
            android:name=".bp_recipe"
            android:exported="false" />
        <activity
            android:name=".bo_recipe"
            android:exported="false" />
        <activity
            android:name=".BreakfastCategory"
            android:exported="false" />
        <activity
            android:name=".ThirdPage"
            android:exported="false" />
        <activity
            android:name=".SecondPage"
            android:exported="false" />
        <activity
            android:name=".ScrollingActivity"
            android:exported="false"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/Theme.MyApplicationnn.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>