<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationnn"
        tools:targetApi="31">
        <activity
            android:name=".aboutus_page"
            android:exported="false" />
        <activity
            android:name=".fishfofos_recipe"
            android:exported="false" />
        <activity
            android:name=".escovitchfish_recipe"
            android:exported="false" />
        <activity
            android:name=".cajunfishtacos_recipe"
            android:exported="false" />
        <activity
            android:name=".bakedsalmon_recipe"
            android:exported="false" />
        <activity
            android:name=".SeafoodCategory"
            android:exported="false" />
        <activity
            android:name=".coddledporkcider_recipe"
            android:exported="false" />
        <activity
            android:name=".boxtybreakfast_recipe"
            android:exported="false" />
        <activity
            android:name=".bigoshuntersstew_recipe"
            android:exported="false" />
        <activity
            android:name=".bbqporksloppyjoes_recipe"
            android:exported="false" />
        <activity
            android:name=".bubblesandsqueak_recipe"
            android:exported="false" />
        <activity
            android:name=".PorkCategory"
            android:exported="false" />
        <activity
            android:name=".shakshuka_recipe"
            android:exported="false" />
        <activity
            android:name=".oliviersalad_recipe"
            android:exported="false" />
        <activity
            android:name=".koshari_recipe"
            android:exported="false" />
        <activity
            android:name=".fulmedames_recipe"
            android:exported="false" />
        <activity
            android:name=".crispyeggplant_recipe"
            android:exported="false" />
        <activity
            android:name=".VegetarianCategory"
            android:exported="false" />
        <activity
            android:name=".lambbiryani_recipe"
            android:exported="false" />
        <activity
            android:name=".lamblemonsouvlaki_recipe"
            android:exported="false" />
        <activity
            android:name=".keleyazaara_recipe"
            android:exported="false" />
        <activity
            android:name=".kapsalon_recipe"
            android:exported="false" />
        <activity
            android:name=".LambCategory"
            android:exported="false" />
        <activity
            android:name=".mbuzichoma_recipe"
            android:exported="false" />
        <activity
            android:name=".GoatCategory"
            android:exported="false" />
        <activity
            android:name=".chocolatesouffle"
            android:exported="false" />
        <activity
            android:name=".chocchippecanpie_recipe"
            android:exported="false" />
        <activity
            android:name=".canadianbuttertarts_recipe"
            android:exported="false" />
        <activity
            android:name=".battenbergcake_recipe"
            android:exported="false" />
        <activity
            android:name=".apambalik_recipe"
            android:exported="false" />
        <activity
            android:name=".DessertCategory"
            android:exported="false" />
        <activity
            android:name=".chickenhandi_recipe"
            android:exported="false" />
        <activity
            android:name=".chickencouscous_recipe"
            android:exported="false" />
        <activity
            android:name=".chickenbasquaise_recipe"
            android:exported="false" />
        <activity
            android:name=".brownstewchicken_recipe"
            android:exported="false" />
        <activity
            android:name=".ap_recipe"
            android:exported="false" />
        <activity
            android:name=".chickencategory"
            android:exported="false" />
        <activity
            android:name=".chicken_category"
            android:exported="false" />
        <activity
            android:name=".beefwellington_recipe"
            android:exported="false" />
        <activity
            android:name=".beefmechado_recipe"
            android:exported="false" />
        <activity
            android:name=".beeflomein_recipe"
            android:exported="false" />
        <activity
            android:name=".beefdumpling_recipe"
            android:exported="false" />
        <activity
            android:name=".bc_recipe"
            android:exported="false" />
        <activity
            android:name=".bbpr_recipe"
            android:exported="false" />
        <activity
            android:name=".beef_category"
            android:exported="false" />
        <activity
            android:name=".faccbp_recipe"
            android:exported="false" />
        <activity
            android:name=".seeb_recipe"
            android:exported="false" />
        <activity
            android:name=".feb_recipe"
            android:exported="false" />
        <activity
            android:name=".eb_recipe"
            android:exported="false" />
        <activity
            android:name=".bp_recipe"
            android:exported="false" />
        <activity
            android:name=".bo_recipe"
            android:exported="false" />
        <activity
            android:name=".BreakfastCategory"
            android:exported="false" />
        <activity
            android:name=".ThirdPage"
            android:exported="false" />
        <activity
            android:name=".SecondPage"
            android:exported="false" />
        <activity
            android:name=".ScrollingActivity"
            android:exported="false"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/Theme.MyApplicationnn.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>